apiVersion: v1
kind: Pod
metadata:
  namespace: {{ name_space }}
  name: {{ pod_name }}
  labels:
    tft-tests: {{ label_tft_tests }}
    tft-pod-name: {{ pod_name }}
    tft-network: primary
spec:{% if has_runtime_class_name %}
  runtimeClassName: {{ runtime_class_name }}{% endif %}
  nodeSelector:
    kubernetes.io/hostname: {{ node_name }}
  tolerations:
  - key: "node.kubernetes.io/unschedulable"
    effect: "NoSchedule"
    operator: "Exists"
  containers:
  - name: tft
    image: {{ test_image }}
    command: {{ command }}
    args: {{ args }}
    imagePullPolicy: {{ image_pull_policy }}{% if has_resources %}
    resources:
      requests: {% if cpu_request %}
        cpu: {{ cpu_request }}{% endif %}{% if mem_request %}
        memory: {{ mem_request }}{% endif %}
      limits: {% if cpu_limit %}
        cpu: {{ cpu_limit }}{% endif %}{% if mem_limit %}
        memory: {{ mem_limit }}{% endif %}{% endif %}
    securityContext:
      privileged: {{ privileged_pod }}
      capabilities: {{ capabilities_pod }}
